---
import { getCollection } from "astro:content";
const stalux = (await getCollection("config"))[0].data;
import Stalux from "@layouts/Stalux.astro";
import styles from "@styles/home.module.css";
import Navs from "@components/stalux/navs.astro";
import Author from "@components/stalux/author.astro";
import TextType from "@components/stalux/textType.astro";
import DateTime from "@components/stalux/date.astro";
import SocialMedia from "@components/stalux/socialMedia.astro";
import PostList from "@components/stalux/postList.astro";
---

<Stalux
  stalux={{
    title: stalux.title,
    description: stalux.description,
    url: Astro.url.href,
    twitterSite: stalux.twitterSite,
    noindex: stalux.noindex,
    nofollow: stalux.nofollow,
    anyhead: stalux.anyhead,
  }}
>
  <div class={styles.homeBody}>
    <h1 class={styles.homeTitle}>{stalux.title}</h1>
    <div class={styles.homeNavs}>
      <Navs />
    </div>
    <Author />
    <TextType />
    <DateTime />
    <SocialMedia />
    <div id={styles.showPostList} data-ref="showPosts">点击查看文章列表</div>
    <script>
      let elmt = document.querySelector('[data-ref="showPosts"]');
      if (elmt) {
        elmt.addEventListener("click", () => {
          const postList = document.querySelector('[data-stalux="postlist"]');
          if (postList) {
            postList.classList.remove("none");
            (elmt as HTMLElement).style.display = "none";
          }
        });
      }
    </script>
    <PostList id="home-post-list" class="none" />
  </div>
</Stalux>
