---
import style from "@styles/postCard.module.css";
import type { InferEntrySchema, RenderedContent } from "astro:content";
import { stripHtml } from "string-strip-html";
interface post {
    id: string;
    body?: string;
    collection: "posts";
    data: InferEntrySchema<"posts">;
    rendered?: RenderedContent;
    filePath?: string;
}

export interface Props {
    post: post;
}
const post = Astro.props.post as post;
let description =
    stripHtml(post.rendered?.html || "").result.slice(0, 100) + "...";
---

<div class={style.postContainer}>
    <h2 class={style.postTitle}>{post.data.title}</h2>
    <p class={style.postDescription}>{description}</p>
    <div class={style.postMeta}>
        <span class={style.postTags}>Tags: {post.data.tags?.join(", ")}</span>
        <span class={style.postCategories}
            >Categories: {post.data.categories?.join(", ")}</span
        >
    </div>
    <a href={post.data.abbrlink} class={style.readMore}>Read More</a>
</div>
