---
import style from "@styles/postCard.module.css";
import type { RenderedContent } from "astro:content";
import { stripHtml } from "string-strip-html";

type PostData = {
    title: string;
    date?: string | Date;
    updated?: string | Date;
    tags?: string[];
    categories?: string[];
    abbrlink?: string;
};

type PostLike = {
    data: PostData;
    description?: string;
    rendered?: RenderedContent;
};

export interface Props {
    post: PostLike;
}
const post = Astro.props.post as PostLike;
const description =
    post.description ??
    stripHtml(post.rendered?.html || "").result.slice(0, 100) + "...";
---

<div class={style.postContainer}>
    <h2 class={style.postTitle}>{post.data.title}</h2>
    <div class={style.time}>
        {
            post.data.date && (
                <time class={style.postDate}>
                    {new Date(post.data.date).toLocaleDateString()}
                </time>
            )
        }
        {
            post.data.updated && (
                <time class={style.postUpdated}>
                    {new Date(post.data.updated).toLocaleDateString()}
                </time>
            )
        }
    </div>
    <div class={style.postDescription}>
        {description}
    </div>
    <div class={style.postMeta}>
        <div class={style.postTags}>
            {
                post.data.tags?.map((tag) => (
                    <a href={`/tags/${tag}`}>
                        <div class={style.postTag}>{tag}</div>
                    </a>
                ))
            }
        </div>
        <div class={style.postCategories}>
            {
                post.data.categories?.map((category) => (
                    <a href={`/categories/${category}`}>
                        <div class={style.postCategory}>{category}</div>
                    </a>
                ))
            }
        </div>
    </div>
    <a href={post.data.abbrlink} class={style.readMore}>Read More</a>
</div>
