---
import styles from "@styles/components/categories/categoriesCard.module.css";
interface Props {
    category: {
        name: string;
        count: number;
    };
}

const props = Astro.props as Props;
---

<div class={styles.categoryCard}>
    <a
        href={`/categories/${props.category.name}/`}
        class={styles.categoryheader + " a-none"}
    >
        <div class={styles.categoryIcon}>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path
                    d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"
                ></path>
            </svg>
        </div>
        <div class={styles.categoryContent}>
            <h2 class={styles.categoryName}>{props.category.name}</h2>
            <div class={styles.categoryCount}>
                {props.category.count} 篇文章
            </div>
        </div>
    </a>
</div>
