---
import type { CollectionEntry } from 'astro:content';
import Head from '../components/Head.vue';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.vue';
type Props = CollectionEntry<'posts'>['data'];
const { title, date, updated, abbrlink} = Astro.props;
import '../styles/blog.styl'
import '../styles/global.styl'
---

<html lang="zh-CN">
	<Head 
		title={title}
		description={title}
		author="站点作者"
	/>
	<body>
		<Header />
		<main>
			<div class="main-wrapper">
			<article>
				<div class="hero-image">
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<!-- <FormattedDate date={date} /> -->
							{
								updated && (
									<div class="last-updated-on">
										{/* Last updated on <FormattedDate date={updated} /> */}
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
			</div>
		</main>
		<Footer />
	</body>
	<script>
		import '../scripts/background.ts';
	</script>
</html>

