---
import Head from "@components/stalux/layout/head.astro";
import Footer from "@components/stalux/layout/footer.astro";
import "@styles/base/init.css";
import "photoswipe/dist/photoswipe.css";
const props = Astro.props as Props;

export interface Props {
  stalux: {
    title: string;
    description: string;
    url: string;
    twitterSite?: string;
    noindex?: boolean;
    nofollow?: boolean;
    anyhead?: string;
  };
}
---

<!doctype html>
<html lang="zh-CN">
  <Head
    title={props.stalux.title}
    description={props.stalux.description}
    canonical={props.stalux.url}
    twitterSite={props.stalux.twitterSite}
    noindex={props.stalux.noindex}
    nofollow={props.stalux.nofollow}
    anyhead={props.stalux.anyhead}
  />
  <script>
    import "../scripts/background.ts";
  </script>
  <body class="stalux-root dark">
    <main class="stalux-main">
      <slot />
    </main>
    <Footer />
    <script type="module" client:load>
      import PhotoSwipeLightbox from "photoswipe/lightbox";
      // 延迟加载完整模块以减小初始包体积
      const pswp = async () => {
        const lightbox = new PhotoSwipeLightbox({
          gallery: ".stalux-main",
          children: "a[data-pswp]",
          pswpModule: () => import("photoswipe"),
        });
        lightbox.init();
      };

      if (typeof window !== "undefined") {
        // 在微任务队列中初始化，确保 DOM 已渲染
        window.requestAnimationFrame(() => pswp());
      }
    </script>
  </body>
</html>

<style></style>
